# Pandas III

_August 5, 2020_

Agenda today:
- Statistics in Pandas 
- Groupby in Pandas
- Stacking & Unstacking

# Part I. Statistics in Pandas
Pandas allow us to calculate various summary statistics for the dataframe, such as mean, variance, and other descriptive statistics measurements. Let's see some examples.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option("display.max_columns", None)

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [3]:
#check the info

In [1]:
# calculate mean beer_servings

In [2]:
# calculate summary statistics for all measurements

In [3]:
# how could we view summary statistics for categorical variable?

In [25]:
# reviewing subsetting and selecting - select the countries on continent AF

In [26]:
# reviwing lambda - create a new column that indicates "low" if total_litres_of_pure_alcohol is below the mean, 
# and 'high' if above the mean
#df["degree"]

## Part II. Pandas Groupby
Groupby methods in Pandas allow you to aggregate data and perform operations on them. The method can be summarized as split-apply-combine. The groupby function allow us to split the dataframe into _groups_, apply operations on them, and aggregate a final result. Let's look at some examples.

In [9]:
# review summary statistics for each continent

In [10]:
# which continent drinks more beer on average?

In [11]:
# exercise - which continent drinks more beer than wine?

In [12]:
# you can also groupby multiple columns - which will result in a hierarchical index. 

# read in df from this url https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

# and set the index as user_id
occupations = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep="|")

In [13]:
occupations.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [14]:
# calculate the mean age per occupation

In [15]:
# for each combination of sex and occupation, show the mean age, assigned it to group by age
group_by_age = None

In [30]:
# exercise - for each occupation, calculate the percentage of female and sort it from high to low

female_sort = occupations.groupby(["occupation"]).gender.value_counts(normalize=True).
#female_sort = occupations["gender"].value_counts()
print(female_sort)
#female_sort =

DataError: No numeric types to aggregate

In [27]:
# turn group by age from long to wide

In [38]:
# play around with stacking and unstacking for the above datasets

#### Optional exercises & level up - the Adult dataset

In [40]:
# read in the adults dataset 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
adults = None

In [41]:
# create a column called income binary, 1 if income >50k 0 otherwise

In [42]:
# explore the racial distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by race

In [43]:
# explore the gender distribution of income (you should use stack or unstack here)

# this show allows us to calculate the proportion of people who earned more than 50k by gender

In [44]:
# strip the white space of the strings in the df